doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/css/styles.css')
      
    body
      block content
      
     
      form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='enter email' type='search' name='q')
      <button type="button">submit!</button>
      form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='confirm email' type='search' name='q')
      <button type="button">submit!</button>
      form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='enter password' type='search' name='q')
      <button type="button">submit!</button>
      form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='confirm password' type='search' name='q')
      <button type="button">submit!</button>
      form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='enter 4 digit promo code' type='search' name='q')
      <button type="button">submit!</button>
      form(action='/search' method='GET')
      input.home-input(autofocus='' placeholder='confirm 4 digit promo code' type='search' name='q')
      <button type="button">submit!</button>



    
